.wrapper{
    max-width: 70%;
    margin: auto;
    display: flex;
    padding: 30px;
}
li{
    margin-top: 50px;
    padding: 10px;
}

button{
    border:0px;
    padding: 10px 15px;
    background-color: aqua;
    color: black;
    margin-left: 10px;
    cursor: pointer;
}
button:hover{
    background-color: black ;
    color:aqua;
}
button:disabled{
    background-color: rgb(94, 255, 255);
    color: rgb(0, 0, 0);
    cursor:no-drop;
}

.active{
    background-color: blue;
}
.done{
    background-color: red;
}