*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


header{
    background-color: #000000;
width:100%;
display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




.logo{width:25%;
height:10vh;display: flex;justify-content: center;align-items: center;
}

.navi{width:50%;
}
.navi ul{display:flex;
    flex-direction: row;
    
    justify-content: end;
    align-items: center;
}

    .navi ul li {
        margin-left:20px;
    }
    .navi ul li a{color:#ffffff;padding:15px 20px;
        text-decoration: none;
        text-transform: uppercase;
        font-size:16px;
    
    }
    .navi ul li a:hover{color:#000000;
    background-color: #ffffff;
    }



.button_1{width:25%;}
.button_1 button {}