
header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    position: fixed;
    right:3rem;
    top:0;
    z-index: 999;
}

header nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2.5rem;
 
}
/* header nav ul li{
    position: relative;
  
}
header nav ul li svg{
    z-index: 2;
}
header nav ul li span{
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
  background-color: var(--PrimaryColor);
  height: 4.5rem;
  padding: 0rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
position: absolute;
  top: 0;
  right: 0rem;
    border-radius: 30px;
    transition: all 0.3s linear;
    opacity: 0;
    width: auto;
}
header nav ul li:hover span{
    right: 2rem;
    opacity: 1;
} */
header nav ul li a{
display: inline-block;
border-radius: 100%;
color: var(--backgroundMeniIcons2);
background-color: var(--backgroundMeniIcons);
font-size:1.8rem;
width: 4.5rem;
height: 4.5rem;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.3s ease-in-out;
}
header nav ul li:hover a{
    color:var(--white);
    background-color:var(--PrimaryColor) ;
}
.active{

    color:var(--white);
    background-color:var(--PrimaryColor) ;
  

}