*{margin: 0; padding: 0; box-sizing: border-box;}
.imgSection{text-align: center;}
body{display: flex;height: 100vh; align-items: center;justify-content: center;}
main{background-color: blue; display: flex;flex-direction: column; padding: 50px;}
.mar{margin-bottom: 10px;}
select{padding: 10px;}
textarea{padding: 10px;}
#submit{
    padding: 10px;
    color: blue;
    font-weight: bold;
}