*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
   scroll-behavior: smooth;
   transition: all 0.5s;
}
ul li{
    list-style-type: none;
}

a{text-decoration: none;
   
}
header{
   width:100%;
   max-width: 128rem;
   margin: auto;
   background-color: aqua;
   padding: 1.5rem 3rem;
   display: flex;
   justify-content: space-between;
align-items: center;}

.logo a{
    font-size: 3.5rem;
    color: #101010;
}
nav ul{
    display: flex;
    gap: 2rem;
  }


nav ul li a {
    padding: 1rem 2rem;
    background-color: #101010;;
    color: #fff;
    transition: all 0.5s;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 1rem;
}
nav ul li a:hover {
    background-color:#fff ;
    color: #101010;;
}