*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    }
div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: nowrap;
    flex-wrap:wrap;
    width: 100%;
    max-width: 780px;
   
}



div .button{
    width: 100%;
    max-width: 150px;
    height: 150px;
     display: block;
     border: 2px solid black;
     border-radius: 10px;
     margin: 10px;
}
#grey{
    background-color: grey;
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
#white{
    background-color: white;
}