.cover{
  width: 100%;
  max-width: 70rem;
    padding: 5rem;
    background-color: rgb(225, 134, 14);
  }

  .items{
    background-color: bisque;
    margin-top: 2rem;
  }

  .items:nth-child(1){
    margin-top: 0rem;
  }

  .answer{
    transition: all 1s;
    animation: answer 3s;
  }
  
  @keyframes answer {
    from {
     height: 0px ;
    }
    to {
      height: 100%;
    }
  }
  