@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

:root{
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);    
  font-size: 1.6rem;
  
}

button {
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  border-radius: 0.5rem;
  border: none;
  color: white;
  font-size: 1.6rem;
  padding: 1rem 3rem;
}
button:hover {
  background: white;
  cursor: pointer;
  border: 1px solid var(--orange);
  color: var(--orange);
}


li{
  list-style-type: none;
}

a{
  text-decoration: none;
}
h1{
  font-size: 5.4rem;
}
h2{
  font-size: 5.4rem;
}
h3{
  font-size: 5.4rem;
}
h4{
  font-size: 5.4rem;
}
h5{
  font-size: 5.4rem;
}
h6{
  font-size: 5.4rem;
}


