*{

    margin: 0%;
    padding: 0%;

    box-sizing: border-box; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{

  width: 100%;

  height:100vh;

  background-image: linear-gradient(rgba(5,0,136,0.5),rgba(5,0,136,0.5)),url(img/back.png);
  background-position: center;
  overflow-x: hidden;
}


nav{

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;

  transition: all 1s;
}

 nav .logo{

  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: 600;
  color:#fff;

  transition: all 1s;

 }
 nav .logo img{
     
  vertical-align: middle;
  width: 60px;
  margin-right: 10px;

 }

 nav ul{
   display: flex;
   align-items: center;
 }

 nav ul li{display: inline-block;
  list-style-type: none;
  margin: 10px 20px;
 }
 nav ul li a{

  color: #fff;
  text-decoration: none;
 text-transform: capitalize;
 font-weight: 600;
 transition: all 1s;
 }

 nav:hover{
   background-color: #fff;
 }

 nav:hover .logo{
   color:#333;
 }

 nav:hover ul li a{

color:#333;
 }










 .content{margin: 10% 0 0 10%;


 }

 .content h1{

  font-size: 120px;font-weight: 500;
  line-height: 140px;color: #fff;
 }
 .content h2{

  font-size: 80px;font-weight: 500; color: #fff;
 }

 .content p{opacity: 0;
   max-width:500px;
   line-height: 28px;
   font-size: 18px;
 color: #fff;
 }

 .content button{ border: none;outline: none;opacity: 0;
   margin-top: 30px; color: #fff;border-radius: 5px;margin-right:20px;background-color:transparent;
   
 }

 .content .btn a{background-color:transparent;color: #fff;border-radius: 5px;
   text-decoration: none;
  
   display: inline-block;
   
   padding: 10px 20px;
 
   
   border: solid #fff 1px; 
 }

 

 .content button a:hover{
 
  color: #333;
  border: solid #333 1px;
  background-color:#fff;
}

.slide-left{

  animation:slider-left 1s linear forwards;
}

@keyframes slider-left {

  0%{transform: translateX(100px);opacity: 0;
  }

  100%{transform: translateX(0px);opacity: 1;}
  
}

p.slide-left{animation-delay: 1.3s;}

button.slide-left{animation-delay: 1.5s;}
