.work-filter{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
  
}

.work-item{
    font-size: 1.6rem;
    color: antiquewhite;
    padding:1rem 3rem ;
    border: 1px solid var(--PrimaryColor);
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.work-item:hover{
    color: antiquewhite;
    background-color:var(--PrimaryColor);
}
.work-container{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap:5rem;
    justify-content: center;
}

.work-card{
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding:3rem;
    border-radius: 1rem;

}
.work-img{ width: 100%;
    border-radius: 1rem;
    vertical-align: middle;
    border: 1px solid black;
}


   
.work-title{
    font-size: 2rem;
}

.work button{
    color: brown;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}
/* 
active */

.active-work{
    background-color:var(--PrimaryColor);
    color: var(--fontBlack);
}